{{ template "base" . }}
{{ define "content" }}
    <h2>Стройбат</h2>
    <p>Сайт для команды строителей сервера Bortexel</p>
    <a type="button" class="btn btn-primary" href="/projects">Посмотреть проекты</a>
    <a type="button" class="btn btn-outline-primary" href="/members">Посмотреть список участников</a>
{{ end }}